body {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 50px;
}

img {
    grid-column: 2/3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: auto;
}

header {
    background-color: white;
    grid-column: 2/3;
    grid-row: ;
}

#headsect {
    text-align: center;
}

footer {
    background-color: #3f5b8b;
    grid-column: 2/3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer section {
    justify-content: space-around;
    align-items: center;
}

#footsect1{
    grid-column: 1/2;
    text-align: center;
}

#footsect2 {
    grid-column: 2/3;
}

#footsect3{
    grid-column: 3/4;
}

/* section font color black */
/* p font color #948994 */
/* h1 font color #3f5b8b */