body {
    display: grid;
    grid-template-columns: 550px 540px;
    background-color: blue;
}

img {
    width: 400px;
    height: 470px;
    grid-column: 1/2;
    padding-left: 150px;
    padding-right: 0px;
    
}

div {
    background-color: red;
    grid-column: 2/3;
    padding-right: 150px;
    padding-left: 0px;
    text-align: left;
}

h1 {
    color: yellow;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}

h2 {
    color: yellow;
    padding-left: 60px;
}

p {
    color: yellow;
    padding-left: 60px;
}

hr {
    height: 4px;
    background-color: black;
    border: none;
}